*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: solid red .1rem;
}
header{
    height: 12vh;
    
    background-color: #f3b404  ;
}
nav{
    height: 5vh;
    background-color: black;
    
}
main{
    height: 82vh;
    background-color: white;
}
